@mixin button-variant($color, $color-change, $background, $background-change, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &:hover,
  &:active {
    color: $color-change;
    background-color: $background-change;
    border-color: $border;
  }
}

@function breakpoint($key) {
  @if map_has_key($breakpoints, $key) {
    @return map_get($breakpoints, $key);
  }
}

@mixin respond-to($media) {
  @media screen and (min-width: breakpoint($media)) {
    @content;
  }
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
