@import 'abstracts/mixins';
@import 'abstracts/variables/breakpoints';
@import 'abstracts/variables/colors';
@import 'abstracts/variables/sizes';


@import 'base/reset';
@import 'base/grid';

@import 'global/layout';
@import 'global/typography';
@import 'global/sprites';
@import 'global/icons';
@import 'global/utils';

@import 'components/buttons';
@import 'components/forms';
@import 'components/desk';

html {
  box-sizing: border-box;
  font-family: $font-primary;
  height: 100%;
  font-size: 14px;

  @include respond-to(md) {
    font-size: 16px;
  }

  @include respond-to(lg) {
    font-size: 18px;
  }
}


