html
{
    font-family: $font-primary;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    box-sizing: border-box;
    height: 100%;

    @include respond-to(md)
    {
        font-size: 16px;
    }
    @include respond-to(lg)
    {
        font-size: 17px;
    }
}

html,
body
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p
{
    color: $black;
    line-height: 1.412rem;

    @include respond-to(md) {
      font-size: 0.875rem;
    }

    @include respond-to(lg) {
      font-size: 0.8235rem;
    }
}

img
{
    width: 100%;
    max-width: 100%;
}
