html
{
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;

    height: 100%;

    @include respond-to(md)
    {
        font-size: 16px;
    }
    @include respond-to(lg)
    {
        font-size: 17px;
    }
}

p
{
    line-height: 1.412rem;

    color: $text-color;

    @include respond-to(md)
    {
        font-size: .875rem;
    }
    @include respond-to(lg)
    {
        font-size: .8235rem;
    }
}

img
{
    width: 100%;
    max-width: 100%;
}
