html,
body { height: 100%; }

@-ms-viewport {
  width: device-width;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;

  @include respond-to(xs) {
    width: 540px;
    max-width: 100%;
  }

  @include respond-to(sm) {
    width: 720px;
    max-width: 100%;
  }

  @include respond-to(md) {
    width: 960px;
    max-width: 100%;
  }

  @include respond-to(lg) {
    width: 1140px;
    max-width: 100%;
  }

  @include respond-to(lg) {
    width: 1245px;
    max-width: 100%;
  }
}

.container::after {
  display: block;
  content: "";
  clear: both;
}

.content {
  position: relative;

  &__decoration {
    width: 50%;
    height: 100%;
    position: absolute;
    background-image:  linear-gradient(45deg, $amethyst 60.5%, transparent 50%);
    z-index: -1;
  }
}

.content-shifted {
  position: relative;

  @include respond-to(md) {
    top: -27.94rem;
  }
}

.advertise-section {
  position: relative;

  @include respond-to(md) {
    margin-top: -27.94rem;
  }

  &:after {
    position: absolute;
    content: '';
    background-color: $amethyst;
    z-index: -1;
    left: 0;
    bottom: 0;
    height: 11.76rem;
    width: 100%;
  }

  &__contacts {

  }

  &__offers {

  }
}

.single-carousel-section {
  &__in {
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 50%;
      height: 100%;
      background-image: url('../images/tesla-pic-3.png');
      background-repeat: no-repeat;
      background-position: calc(50% - 435px) 70%;
      background-attachment: fixed;
    }
  }
}

.top-section {

}

.middle-section {

}

