html,
body
{
    height: 100%;
}

@-ms-viewport
{
    width: device-width;
}

html
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after
{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

.layout
{
    min-height: 100%;
}

.layout__wrapper
{
    overflow: hidden;

    min-height: 100vh;
    padding-top: 5.714rem;

    @include respond-to(md)
    {
        padding-top: 0;
        padding-bottom: 31.12em;
    }
}


.header .layout__container
{
    padding-right: 1rem;
    padding-left: 1rem;

    @include respond-to(lg)
    {
        padding-right: .8824rem;
        padding-left: .8824rem;
    }
}

.layout__wrapper .layout__container
{
    padding-right: 1rem;
    padding-left: 1rem;

    @include respond-to(lg)
    {
        padding-right: 2.059rem;
        padding-left: 2.059rem;
    }
}

.footer .layout__container
{
    padding-right: 1rem;
    padding-left: 1rem;

    @include respond-to(md)
    {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    @include respond-to(lg)
    {
        padding-right: 2.353rem;
        padding-left: 2.353rem;
    }
}

.prefooter .layout__container
{
    padding-right: 1rem;
    padding-left: 1rem;

    @include respond-to(lg)
    {
        padding-right: .8824rem;
        padding-left: .8824rem;
    }
}


.layout__container
{
    position: relative;

    margin-right: auto;
    margin-left: auto;

    @include respond-to(xs)
    {
        width: 540px;
        max-width: 100%;
    }
    @include respond-to(sm)
    {
        width: 720px;
        max-width: 100%;
    }
    @include respond-to(md)
    {
        width: 960px;
        max-width: 100%;
    }
    @include respond-to(lg)
    {
        width: 1140px;
        max-width: 100%;
    }
    @include respond-to(lg)
    {
        width: 1290px;
        max-width: 100%;
    }
}

.layout__container::after
{
    display: block;
    clear: both;

    content: '';
}

.content
{
    position: relative;

    height: 100%;

    &:before
    {
        position: absolute;
        z-index: -1;

        width: 50%;
        height: 100%;

        content: '';

        background: linear-gradient(45deg, $amethyst 61.5%, transparent 50%);
    }
}

.secondary-page {
  .layout__wrapper
  {
      @include respond-to(md)
      {
          padding-top: 10.18rem;
      }
  }
  .content
  {
      &:before
      {
          width: 50%;

          background: $amethyst;

          @include respond-to(md)
          {
              width: 38.5%;
          }
      }
  }
}

.advertise-section
{
    position: relative;

    &:after
    {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 11.76rem;

        content: '';

        background-color: $amethyst;
    }
}

.single-carousel-section
{
    &__in
    {
        position: relative;

        &:before
        {
            position: absolute;
            top: 0;
            left: 0;

            display: none;

            width: 50%;
            height: 100%;

            content: '';

            background-image: url('../images/tesla-pic.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: 25% 0;

            @include respond-to(md)
            {
                display: block;
            }
        }
    }
}
