@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed|Roboto:400,700');

$font-primary:   'Roboto', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-specific:  'Roboto Condensed', sans-serif;
