.btn
{
    font-size: .7647rem;
    font-weight: normal;
    font-weight: 700;
    line-height: 1.25;

    display: inline-block;

    padding: .9375rem 1.765rem;

    cursor: pointer;
    user-select: none;
    transition: all .2s ease-in-out;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: uppercase;

    border: 3px solid transparent;
    border-radius: 0;

    @include respond-to(xlg)
    {
        padding: .8824rem 3.0529rem;
    }
}

.btn-xs
{
    @include respond-to(xlg)
    {
        padding: .823rem 2.467rem;
    }
}

.btn-sm
{
    padding: .823rem 1.294rem;
}

.btn-lg
{
    font-size: 1rem;

    padding: 1.176rem 2.467rem;
}

.btn-xlg
{
    font-size: 1rem;

    padding: 1.176rem 1.765rem;

    @include respond-to(xlg)
    {
        padding: 1.294rem 1.765rem;
    }
}

.btn-primary
{
    @include button-variant($electric-violet, $white, transparent, $electric-violet, $electric-violet);
}

.btn-secondary
{
    @include button-variant($white, $electric-violet, transparent, $white, $white);
}

.btn-specific
{
    font-family: $font-specific;

    @include button-variant(#000, $white, transparent, $electric-violet, $electric-violet);
}

.btn-highlighted
{
    @include button-variant($white, $white, $electric-violet, darken($electric-violet, 5%), $electric-violet);
}

.btn-submit
{
    border-width: 1px;

    @include button-variant($white, $black, transparent, $white, $white);
}

.btn-submit--reversed
{
    @include button-variant($black, $white, transparent, $black, $black);
}

.btn-block
{
    display: block;

    width: 100%;
    padding-right: 0;
    padding-left: 0;
}
