.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 3px solid transparent;
  padding: 14px 30px;
  font-size: 14px;
  transition: all 0.2s ease-in-out;

  @include respond-to(xlg) {
    padding: 14px 45px;
  }
}

.btn-primary {
  @include button-variant($electric-violet, $white, transparent, $electric-violet, $electric-violet);
}

.btn-secondary {
  @include button-variant($white, $electric-violet, transparent, $white, $white);
}
