.main-carousel
{
    position: relative;

    overflow: hidden;

    height: 28.57rem;
    margin-bottom: $space-large;

    @include respond-to(md)
    {
        height: 50rem;
        margin-bottom: 0;
    }
    @include respond-to(lg)
    {
        height: 55.59rem;
    }

    &.slick-carousel
    {
        .slick-arrow
        {
            top: auto;
            bottom: -5.5rem;

            @include respond-to(md)
            {
                top: -28%;
                bottom: auto;
            }
        }

        .slick-prev
        {
            left: 1rem;

            @include respond-to(lg)
            {
                left: 2.059rem;
            }
        }

        .slick-next
        {
            right: 1rem;

            @include respond-to(lg)
            {
                right: 2.059rem;
            }
        }
    }

    &__item
    {
        position: relative;

        overflow: hidden;

        height: 28.57rem;

        @include respond-to(md)
        {
            height: 50rem;
        }
        @include respond-to(lg)
        {
            height: 55.59rem;
        }
    }

    &__decoration
    {
        position: absolute;
        z-index: 2;
        top: -85%;
        left: 0;

        width: 25.39rem;
        height: 300%;

        content: '';
        transform: rotate(-45deg);

        background-color: rgba($amethyst, .8);

        @include respond-to(md)
        {
            height: 251%;
        }
    }

    &__img
    {
        img
        {
            max-width: initial;
            height: 28.57rem;

            object-fit: cover;
            @include respond-to(xs)
            {
                width: 100%;
            }
            @include respond-to(md)
            {
                width: 100%;
                height: 50rem;
            }
            @include respond-to(lg)
            {
                height: 55.59rem;
            }
        }
    }

    &__caption
    {
        position: absolute;
        z-index: 100;
        top: 15%;
        bottom: auto ;
        left: 0;

        width: 100%;

        color: #fbfafc;

        @include respond-to(md)
        {
            top: auto;
            bottom: 11.76rem;
        }
    }

    &__caption-in
    {
        height: 18rem;

        @include respond-to(md)
        {
            width: 50%;
        }
    }

    &__caption-date
    {
        font-family: $font-secondary;
        font-weight: 700;

        text-transform: uppercase;

        @include respond-to(xs)
        {
            font-size: 4.118rem;
            line-height: 2.353rem;

            margin-bottom: 2.059rem;
            margin-left: -$space-small;

            letter-spacing: -5px;
        }

        span
        {
            display: inline-block;

            vertical-align: top;
            letter-spacing: normal;

            @include respond-to(xs)
            {
                font-size: 1.471rem;
                line-height: .5882rem;

                margin-left: -$space-mini;
            }
        }
    }

    &__caption-mark
    {
        font-family: $font-primary;
        font-size: 1.471rem;
        font-size: 1rem;
        line-height: 2.647rem;
        line-height: 2.647rem;

        margin-bottom: $space-mini;

        color: #3d176b;
        text-shadow: 1px 1.7px 38px rgba(27, 27, 30, .75);

        @include respond-to(xs)
        {
            font-size: 1.471rem;
        }
    }

    &__caption-title
    {
        font-size: 1.286rem;
        font-weight: 700;
        line-height: 1.429rem;

        margin-bottom: $space-large;

        text-transform: uppercase ;

        color: #fbfafc;
        text-shadow: 1px 1.7px 46px rgba(27, 27, 30, .75);

        @include respond-to(xs)
        {
            font-size: 1.75rem;
            line-height: 2.188rem;
        }
        @include respond-to(lg)
        {
            font-size: 2.059rem;
            line-height: 2.941rem;
        }
    }

    &__caption-actions
    {
        .btn
        {
            display: block;

            padding-right: 0;
            padding-left: 0;

            @include respond-to(xs)
            {
                display: inline-block;

                width: 215px;
            }

            &:last-child
            {
                margin-top: $space-small;

                @include respond-to(xs)
                {
                    margin-top: 0;
                    margin-left: 1.471rem;
                }
            }
        }
    }
}

.tripple-carousel
{
    @include respond-to(md)
    {
        padding: 0 2.941rem;
    }
    @extend %clearfix;

    &.slick-carousel
    {
        .slick-arrow
        {
            top: auto;
            bottom: 0;
        }
    }

    &__item
    {
        float: left;

        width: 33.333%;
        height: 24.41rem;

        &:hover .tripple-carousel__h
        {
            visibility: visible;

            opacity: 1;
        }

        &--img
        {
            background-size: cover;

            &--girls
            {
                background-image: url('../images/girls-bg.png');
            }
        }

        &--harlequin
        {
            .tripple-carousel__h
            {
                background-color: rgba($harlequin, .35);
            }
        }

        &--flush
        {
            .tripple-carousel__h
            {
                background-color: rgba(#de790d, .35);
            }
        }

        &--electricity
        {
            .tripple-carousel__h
            {
                background-color: rgba($electric-violet, .35);
            }
        }
    }

    &__info
    {
        padding: 0 $space-large;
    }

    &__in
    {
        display: table;

        width: 100%;
        height: 100%;
    }

    &__cell
    {
        position: relative;

        display: table-cell;

        text-align: center;
        vertical-align: middle;
    }

    &__h
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        visibility: hidden;

        width: 100%;

        transition: opacity .4s;

        opacity: 0;
    }

    &__info-date
    {
        font-size: .9412rem;
        font-style: italic;
        line-height: 1.471rem;

        margin-bottom: $space-large;

        color: #7b4aa6;
    }

    &__info-txt
    {
        font-size: .9412rem;
        font-style: italic;
        line-height: 1.471rem;

        color: #282b30;
    }
}

.single-carousel
{
    &.slick-carousel
    {
        .slick-arrow
        {
            top: auto;
            bottom: 0;
        }
    }

    &__inner
    {
        width: 100%;

        @include respond-to(lg)
        {
            width: 53.53rem;
            margin-left: 15.84rem;
        }
        @include respond-to(xlg)
        {
            margin-left: 18.53rem;
        }
    }

    &__item
    {
        position: relative;

        padding: 2rem 0 6.071rem;

        @include respond-to(md)
        {
            padding-top: 6.176rem;
            padding-bottom: 7.059rem;
        }
    }

    &__item-img
    {
        @include respond-to(lg)
        {
            padding-left: 1.765rem;
        }

        img
        {
            width: 50%;

            @include respond-to(md)
            {
                width: 100%;
            }
        }
    }

    &__item-info
    {
        padding-top: $space-large;

        @include respond-to(md)
        {
            width: 50%;
            padding: 2.059rem 0 0 $space-huge;

            vertical-align: top;
        }
        @include respond-to(xlg)
        {
            padding: 2.059rem 0 0 3.235rem;
        }
    }

    &__item-title
    {
        font-size: 1.294rem;
        line-height: 2.353rem;

        margin-bottom: $space-large;

        color: #282b30;

        @include respond-to(md)
        {
            margin-bottom: 1.471rem;
        }
    }

    &__item-txt
    {
        font-size: .8234rem;
        font-weight: 300;
        line-height: 1.294rem;

        margin-bottom: $space-large;
        padding-right: 2.059rem;

        color: #282b30;

        @include respond-to(md)
        {
            margin-bottom: 3.824rem;
        }
    }

    &__item-actions
    {
        .btn
        {
            display: block;

            @include respond-to(xs)
            {
                display: inline-block;
            }

            @-moz-document url-prefix()
            {
                padding: .823rem .6rem;
            }
        }
        .btn:last-child
        {
            margin-top: $space-small;

            @include respond-to(xs)
            {
                margin-top: 0;
                margin-left: $space-large;
            };
        }
    }
}

.slick-carousel
{
    .slick-arrow
    {
        z-index: 200;

        width: 71px;
        height: 42px;

        transition: all .3s;

        background-image: url(../images/sprite.png);

        &:before
        {
            display: none;
        }

        &:hover,
        &:focus
        {
            opacity: .5;
            background-image: url(../images/sprite.png);
        }
    }

    .slick-prev
    {
        left: 0;

        background-position: -148px 0;
    }

    .slick-next
    {
        right: 0;

        background-position: -148px -44px;
    }
}
