.contact
{
    text-align: center;

    color: $white;

    &__address
    {
        font-weight: 700;

        text-transform: uppercase;
    }

    &__schedule
    {
        text-transform: uppercase;
    }

    &--advertise
    {
        font-size: 1.176rem;

        padding: 4.118rem $space-large 4.529rem;

        .contact__title
        {
            line-height: 2.235rem;

            margin-bottom: $space-small;
        }

        .contact__address
        {
            line-height: 2.235rem;

            margin-bottom: $space-large;

            @include respond-to(md)
            {
                margin-bottom: 3.235rem;
            }
        }

        .contact__schedule
        {
            line-height: 1.841rem;

            margin-bottom: $space-large;

            @include respond-to(md)
            {
                margin-bottom: 3.235rem;
            }
        }

        .contact__phone-list
        {
            line-height: 1.706rem;

            margin-bottom: $space-huge;
        }
    }

    &--prefooter
    {
        font-size: .8571rem;

        @include respond-to(md)
        {
            font-size: .7059rem;
        }
    }
}
