.footer
{
    padding: 1rem 0;

    color: $white;
    background-color: $amethyst;

    @include respond-to(md)
    {
        padding: 4.706rem 0 $space-huge;
        height: 31.12rem;
    }
    @include respond-to(md)
    {
        margin-top: -31.12rem;
    }

    &__container
    {
        @include respond-to(xlg)
        {
            width: 1240px;
            max-width: 100%;
        }
    }

    &__row
    {
        padding-right: -15px;
        padding-left: -15px;
    }

    &__menus
    {
        float: left;

        width: 100%;

        @include respond-to(md)
        {
            width: 66.666667%;
        }
    }

    &__info
    {
        float: left;

        width: 100%;

        @include respond-to(md)
        {
            width: 33.33333%;
        }
    }

    &__col
    {
        float: left;

        width: 100%;

        @include respond-to(sm)
        {
            width: 25%;
        }
        @include respond-to(md)
        {
            padding: 0 15px;
        }
    }

    &__title
    {
        font-family: $font-secondary;
        font-size: 13px;
        font-weight: 700;

        margin-bottom: 1.471rem;

        text-transform: uppercase;

        @include respond-to(md)
        {
            margin-bottom: 25px;
        }
    }

    &__menus
    {
        @include respond-to(xlg)
        {
            padding-top: 1.1rem;
            padding-left: 5.176rem;
        }
    }

    &__menu
    {
        margin-bottom: $space-huge;
    }

    &__form,
    &__media
    {
        margin-top: 3.765rem;
    }

    &__form-email-field
    {
        max-width: 228px;
    }

    &--secondary {

      @include respond-to(md)
      {
          padding: 3.235rem 0 $space-huge;
      }

      .layout__container {
        @include respond-to(lg) {
          padding-left: 4.706rem;
          padding-right: 4.706rem;
        }
      }

      .footer__info {
          @include respond-to(md)
          {
              width: 30%;
          }
      }

      .footer__menus {
          @include respond-to(md)
          {
              width: 70%;
              padding-left: 0;
          }
      }
    }
}

.menu
{
    &__link
    {
        font-family: $font-secondary;
        font-size: 13px;
        font-weight: 300;
        line-height: 24px;

        transition: all .3s;

        color: $white;

        &:hover,
        &:focus
        {
            text-shadow: 2px 2px 3px rgba($dark-black, .5);
        }
    }
}

.media
{
    margin-bottom: $space-large;

    transition: all .3s;
    &__icon
    {
        display: inline-block;
        &:last-child
        {
            margin-left: $space-large;
        }
        &:hover,
        &:focus
        {
            text-shadow: 2px 2px 3px rgba($dark-black, .5);
        }
    }
}
