.header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;

  &__container {
    @include respond-to(xlg) {
      width: 1290px;
      max-width: 100%;
      padding: 0 $space-medium 0 $space-mini;
    }
  }

  &__main {
    @extend %clearfix;
  }


  &__option-holder {
    @extend %clearfix;
    display: none;

    @include respond-to(lg) {
      display: block;
    }
  }

  &__form {
    display: inline-block;
    vertical-align: middle;
  }

  &__lang-selector {
    display: inline-block;
    vertical-align: middle;
  }

  &__options {
    float: right;
    padding-top: $space-mini;
  }

  &__navbar {
    @include respond-to(md) {
      padding-top: $space-small;
      float: right;
    }

    @include respond-to(xlg) {
      padding-top: $space-large;
    }
  }


  &__mobile-toggle {
    float: right;
    padding: $space-large $space-small;

    @include respond-to(md) {
      display: none;
    }
  }


  &__navigation {

    @include respond-to(lg) {
      float: left;
    }
  }

  &__btn {
    display: none;
    float: left;

    @include respond-to(lg) {
      display: block;
    }

    @include respond-to(xlg) {
      margin-left: 2.125rem;
    }
  }
}

.navigation {
  @extend %clearfix;
  background-color: #fff;

  @include respond-to(lg) {
    padding: 0 $space-medium;
  }

  &__item {

    @include respond-to(md) {
      float: left;
    }

    &--has-children {
      position: relative;

      &:hover .submenu {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__link {
    display: block;
    padding: 0 12px;
    font-family: $font-specific;
    font-size: 12px;
    color: #000;
    line-height: 40px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    @include respond-to(md) {
      line-height: 52px;
    }

    @include respond-to(xlg) {
      font-size: 14px;
    }

    &:hover,
    &:focus {
      color: $electric-violet;
    }
  }
}

.submenu {
  background-color: #fff;
  transition: all 0.3s ease-in-out;

  @include respond-to(md) {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 52px;
    left: -5px;
    min-width: 184px;
    padding: $space-small 0 $space-large;
    z-index: 100;
  }

  &__link {
    display: block;
    padding: 0 $space-huge;
    line-height: 40px;
    font-size: 12px;
    font-family: $font-specific;
    text-transform: uppercase;
    color: #000;
    transition: all 0.2s ease-in-out;

    @include respond-to(md) {
      padding: 0 $space-large;
    }

    @include respond-to(xlg) {
      font-size: 14px;
    }

    &:hover,
    &:focus {
      color: $electric-violet;
    }
  }
}

.toggle {
  cursor: pointer;
  background-color: transparent;

  &__line {
    width: 30px;
    height: 5px;
    background: #000;
    margin-bottom: 2px;
    border-radius: 6px;
  }
}

