.header
{
    position: absolute;
    z-index: 9999;
    right: 0;
    left: 0;

    width: 100%;
    padding: $space-small 0;

    transition: .4s ease;

    background-color: $white;
    box-shadow: 0 0 3px rgba($black, .3);

    @include respond-to(md)
    {
        position: fixed;
        right: 0;
        left: 0;

        padding: 0;

        background-color: transparent;
        box-shadow: none;
    }

    &--scrolled
    {
        padding: $space-mini 0;

        background-color: $white;
        box-shadow: 0 0 3px rgba($black, .3);

        .header__option-holder
        {
            display: none;
        }

        .logo__img
        {
            width: 4.412rem;
        }

        .logo__text
        {
            font-size: 1.176rem;

            margin: -$space-small 0 0 $space-medium;
        }

        .header__navbar
        {
            padding-top: $space-small;

            @include respond-to(lg)
            {
                padding-top: $space-medium;
            }
        }
    }

    &__main
    {
        @extend %clearfix;
    }

    &__option-holder
    {
        display: none;

        @extend %clearfix;
        @include respond-to(md)
        {
            display: block;
        }
    }

    &__form
    {
        display: inline-block;

        vertical-align: middle;
    }

    &__lang-selector
    {
        display: inline-block;

        vertical-align: middle;
    }

    &__options
    {
        float: right;

        padding-top: $space-mini;
    }

    &__navbar
    {
        display: none;

        @include respond-to(md)
        {
            display: block !important;
            float: right;

            padding-top: $space-small;
        }
        @include respond-to(xlg)
        {
            padding-top: $space-large;
        }
    }


    &__mobile-toggle
    {
        float: right;

        padding: 1.563rem $space-small;

        @include respond-to(md)
        {
            display: none;
        }
    }


    &__navigation
    {
        @include respond-to(lg)
        {
            float: left;
        }
    }

    &__btn
    {
        display: none;
        float: left;

        @include respond-to(lg)
        {
            display: block;

            margin-left: $space-large;
        }
    }
}

.navigation
{
    background-color: $white;

    @extend %clearfix;
    @include respond-to(lg)
    {
        padding: 0 $space-mini;
    }

    &__item
    {
        @include respond-to(md)
        {
            float: left;
        }

        &--has-children
        {
            position: relative;

            &:hover .submenu
            {
                visibility: visible;

                opacity: 1;
            }
        }
    }

    &__link
    {
        font-family: $font-specific;
        font-size: 12px;
        line-height: 40px;

        display: block;

        padding: 0 .583rem;

        transition: all .2s ease-in-out;
        text-transform: uppercase;

        color: $black;

        @include respond-to(md)
        {
            line-height: 52px;
        }
        @include respond-to(xlg)
        {
            font-size: $font-size-base;
        }

        &:hover,
        &:focus
        {
            color: $electric-violet;
        }
    }
}

.submenu
{
    transition: all .3s ease-in-out;

    background-color: $white;

    @include respond-to(md)
    {
        position: absolute;
        z-index: 100;
        top: 52px;
        left: -5px;

        visibility: hidden;

        min-width: 184px;
        padding: $space-small 0 $space-large;

        opacity: 0;
    }

    &__link
    {
        font-family: $font-specific;
        font-size: 12px;
        line-height: 40px;

        display: block;

        padding: 0 $space-huge;

        transition: all .2s ease-in-out;
        text-transform: uppercase;

        color: $black;

        @include respond-to(md)
        {
            padding: 0 $space-large;
        }
        @include respond-to(xlg)
        {
            font-size: $font-size-base;
        }

        &:hover,
        &:focus
        {
            color: $electric-violet;
        }
    }
}

.toggle
{
    cursor: pointer;

    background-color: transparent;

    &__line
    {
        width: 30px;
        height: 5px;
        margin-bottom: 2px;

        border-radius: 6px;
        background: $black;
    }
}
