
.logo
{
    &__img
    {
        display: inline-block;

        transition: 1s;
        vertical-align: middle;
    }

    &__text
    {
        font-weight: 700;

        display: inline-block;

        vertical-align: middle;

        small
        {
            font-size: 11px;
            font-weight: 400;

            display: block;
        }
    }

    &--header
    {
        .logo__img
        {
            width: 3.929rem;

            @include respond-to(xs)
            {
                width: 4.643rem;
            }
            @include respond-to(sm)
            {
                width: 4.412rem;
            }
            @include respond-to(xlg)
            {
                width: auto;
            }
        }

        .logo__text
        {
            font-size: 1.286rem;

            margin: -$space-mini 0 0 $space-mini;

            color: #040404;

            @include respond-to(xs)
            {
                margin: -$space-mini 0 0 $space-medium;
            }
            @include respond-to(sm)
            {
                margin: -$space-small 0 0 $space-mini;
            }
            @include respond-to(xlg)
            {
                font-size: 1.353rem;

                margin: -$space-medium 0 0 $space-medium;
                @-moz-document url-prefix()
                {
                    font-size: 1.176rem;
                }
            }
        }
    }

    &--footer
    {
        .logo__img
        {
            width: 4.643rem;

            @include respond-to(md)
            {
                width: 4.375rem;
            }
            @include respond-to(xlg)
            {
                width: 4.706rem;
            }
        }

        .logo__text
        {
            font-size: 1rem;

            margin: -$space-mini 0 0 $space-mini;

            color: $white;

            @include respond-to(xs)
            {
                margin: -$space-mini 0 0 $space-medium;
            }

            small
            {
                font-size: .764rem;
            }
        }
    }
}
