.review
{
    overflow: auto;

    width: 100% !important;
    height: 19.41rem;

    &__stars
    {
        float: right;

        margin-top: -$space-mini;

        @include respond-to(md)
        {
            font-size: .875rem;
        }
        @include respond-to(lg)
        {
            font-size: .8235rem;
        }
    }

    &__user
    {
        @include respond-to(md)
        {
            font-size: .875rem;
        }
        @include respond-to(lg)
        {
            font-size: .8235rem;
        }
    }

    &__item
    {
        margin-bottom: $space-large;
        padding-right: $space-huge;

        @include respond-to(md)
        {
            padding-right: 5.295rem;
        }
    }

    &__header
    {
        margin-bottom: $space-medium;
    }

    &__text
    {
        line-height: 1.118rem;

        color: #8a8a8a;
    }
}
