.scroll
{
    &__track
    {
        width: 8px;
        margin-right: 2px;

        transition: background 250ms linear;

        border-radius: 8px;
        background: #d8d8d8;
    }

    &__handle
    {
        right: 0;

        width: 8px;

        transition: width 250ms;

        border-radius: 8px;
        background-color: $electric-violet;
    }
}
