.single-project
{
    margin-top: $space-large;

    @include respond-to(md)
    {
        margin-top: 0;
    }

    .layout__container
    {
        @include respond-to(lg)
        {
            padding-right: $space-large;
            padding-left: 7.529rem;
        }
    }

    &__info,
    &__tabs
    {
        vertical-align: top;
    }

    &__info
    {
        @include respond-to(md)
        {
            width: 45%;
        }
    }

    &__tabs
    {
        @include respond-to(md)
        {
            width: 55%;
        }
    }

    &__img
    {
        height: 20rem;

        box-shadow: 0 0 40px rgba($box-shadow, .3);

        @include respond-to(md)
        {
            height: 33.24rem;
        }
    }

    &__data
    {
        padding: $space-small 1.471rem;

        background: $electric-violet;
    }

    &__data-table
    {
        font-size: 1rem;

        width: 100%;

        text-align: left;

        color: $white;

        th
        {
            font-weight: normal;
        }

        td
        {
            font-family: $font-specific;
            font-weight: 700;

            padding-top: $space-medium;
        }
    }
}
