.tabs {
    margin: 2.941rem auto;

  input[type=radio] {
      display:none;
  }

  span {
    display: inline-block;
  }

  &__label {
      display: block;
      float: left;
      color: $span-pearl;
      font-family: $font-secondary;
      font-size: 0.884rem;
      text-transform: uppercase;
      font-weight:: bold;

      cursor: pointer;
      transition: all 0.5s;
      margin-right: 2.325rem;
      padding: 0 $space-large;

      &--first {
        padding-left: 5rem;
      }

      &:hover {
        color: $amethyst;
      }
  }

  &__content {
    clear: both;
    display: none;
    width: 100%;
    padding-left: 5rem;
    padding-top: 3.824rem;

    &--tickets {
      padding-left: 0;
    }

    h4 {
      font-size: 0.8235rem;
      text-transform: uppercase;
    }

    h3 {
      font-size: 1.176rem;
      line-height: 3.059rem;
      text-transform: uppercase;
      margin-bottom: $space-large;
    }
  }

  &__form {
    margin-top: 3.824rem;
  }

  &__form-label {
    margin-bottom: $space-large;
    font-size: 0.823rem;
  }

  .form-control {
    margin-bottom: $space-small;
  }
}

.tabs [id^="tab"]:checked + label {
    color: $amethyst;
}

#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
    display: block;
}


