.tickets
{
    display: table;

    width: 100%;

    &__row
    {
        display: table-row;

        cursor: pointer;
        transition: .3s;

        &:hover
        {
            color: $white;
            background-color: $amethyst;
        }
    }

    &__cell
    {
        display: table-cell;

        padding: $space-small $space-medium;

        vertical-align: middle;

        &:first-child
        {
            padding-left: $space-large;

            @include respond-to(md)
            {
                padding-left: 5rem;
            }
        }

        .btn
        {
            float: right;
        }
    }
}
