@font-face
{
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
    url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
}


@font-face
{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium-webfont.eot');
    src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: 500;
    font-style: normal;

}


@font-face
{
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;

    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Light-webfont.woff') format('woff'),
    url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
}

@font-face
{
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/RobotoCondensed-Bold-webfont.eot');
    src: url('../fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
    url('../fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
    url('../fonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
}

@font-face
{
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/RobotoCondensed-Regular-webfont.eot');
    src: url('../fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
    url('../fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
    url('../fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
}

@font-face
{
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-style: normal;

    src: url('../fonts/RobotoCondensed-Light-webfont.eot');
    src: url('../fonts/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoCondensed-Light-webfont.woff') format('woff'),
    url('../fonts/RobotoCondensed-Light-webfont.ttf') format('truetype'),
    url('../fonts/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
}
