$harlequin: #90c004;
$flush-orange: #dd892d;
$electric-violet: #8740c8;
$amethyst: #9153cc;
$span-pearl: #afaab4;
$silver: #b2b2b2;
$solitude: #fbfafc;
$persian-indigo: #3d176b;
$mango-tango: #eb7b00;
$gainsboro: #d8d8d8;
$suva-grey: #8a8a8a;
$white: #fff;
$black: #010101;
$light-black: #040404;
$dark-black: #000000;

$box-shadow: #1b1b1e;
$text-color: #282b30;
$form-border: #afafaf;
$form-placeholder: #c2c2c2;
