$harlequin: #90c004;
$flush-orange: #dd892d;
$electric-violet: #8740c8;
$amethyst: #9153cc;
$span-pearl: #afaab4;
$silver: #b2b2b2;
$box-shadow: #1b1b1e;
$text-color: #282b30;

$white: #fff;
$black: #010101;
