$font-primary:   'Roboto', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-specific:  'Roboto Condensed', sans-serif;

$font-size-base: 0.7647rem;
$font-size-small: 0.6471rem;
$font-size-large: 1rem;
$font-size-xlarge: 1.294rem;

$line-height-base: 1.294rem;
$line-height-large: 2.353rem;

